# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
db.sqlite3
media/
staticfiles/

local_settings.py

# Pytest
.cache
.pytest_cache/

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
virt/


# MacOS
.DS_Store

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pipenv
Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# dotenv
*.env

# Gunicorn
gunicorn.pid

# node modules (if using npm/yarn for frontend)
node_modules/