{% extends "base.html" %}

{% block title %}
    Create New Blog Post
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Create New Blog Post</h1>
    <br><hr>

    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary">Post</button>
        </form>
    </div>
{% else %}
    <h1>You must be logged in to create a new blog post.</h1>
    <a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{% endblock %}