{% extends "base.html" %}

{% block content %}
<h1>Blog Posts</h1>

<ul>

{% for blogpost in object_list %}
    <li>
        <a href="{% url 'article-detail' blogpost.pk %}">
            <strong>
                {{ blogpost.title }}
            </strong>
        </a> - 
        <strong>
            {{ blogpost.author.first_name }} {{ blogpost.author.last_name }}
        </strong> -
        <a href="{% url 'edit-post' blogpost.pk %}">
            <strong>
                [Edit Post]
            </strong>
        </a>
        <br/>
        <em>@{{ blogpost.author }}</em><br>
        <p>{{ blogpost.content }}</p>
    </li>
{% endfor %}

</ul>
{% endblock %}