{% extends "base.html" %}

{% block content %}
<h1>Blog Posts</h1>

<ul>

{% for blogpost in object_list %}
    <li>
        <a href="{% url 'article-detail' blogpost.pk %}">
            <strong>
                {{ blogpost.title }}
            </strong>
        </a> - 
        <strong>
            {{ blogpost.author.first_name }} {{ blogpost.author.last_name }} - {{ blogpost.created_at | date:"d/m/Y" }} - 
        </strong>
        <a href="{% url 'category' blogpost.category.name|slugify %}">
            <strong>
                {{ blogpost.category.name }}
            </strong>
        </a>
        
        {% if user.is_authenticated %}
            -
            <a href="{% url 'edit-post' blogpost.pk %}">
                <strong>
                    [Edit Post]
                </strong>
            </a>
            |
            <a href="{% url 'delete-post' blogpost.pk %}">
                <strong>
                    [Delete Post]
                </strong>
            </a>
        {% endif %}
        <br/>
        <em>@{{ blogpost.author }}</em><br>
        <p>{{ blogpost.content | slice:"250" }}</p>
    </li>
{% endfor %}

</ul>
{% endblock %}