<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
                Blog Posts
            {% endblock %}
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>

    <body>

        <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url "home" %}">Blog Posts</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- Category Lists Menu -->
                         {% if cat_list %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Categories
                                </a>
                                <ul class="dropdown-menu">
                                    {% for item in cat_list %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'category' item|slugify %}">
                                                {{ item }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                            
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "create-post" %}">Create Blog Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "create-category" %}">Create Category</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "edit_profile" %}">Edit Profile</a>
                            </li>
                            <li class="nav-item">
                                <form method="post" action="{% url "logout" %}" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="nav-link" style="background: none; border: none; padding: .5rem 1rem; color: rgba(255, 255, 255, .55);">
                                        Logout
                                    </button>
                                </form>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "signup" %}">SignUp</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "login" %}">Login</a>
                            </li>
                        {% endif %}
                    </ul>    
                </div>
            </div>
        </nav>

        <br>
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
            crossorigin="anonymous">
        </script>
    </body>
</html>